<!-- <button mat-icon-button color="primary"><mat-icon>home</mat-icon></button>
<form class="example-form">
    <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput></textarea>
    </mat-form-field>
    <button mat-icon-button color="warn"> <mat-icon>favorite</mat-icon>
    </button>
    </form>
     -->
     <!-- Hay qe implementar el app spinner -->
     <app-nav-bar></app-nav-bar>
     <app-spinner></app-spinner>
     <router-outlet></router-outlet>
