<!--explicacion corta sobre la api-->
<div class="container-menu">
    <div class="container">
    <div class="container-text">
      <h1> Pokemon API</h1> <br>
      <p>In this website we can see how to consume a Pokémon API. We will be able to view the list of pokémon from the games.
        You can click on the options in the navbar to see whatever category you want. You can also
        view the details of each pokémon by clicking on them in the list. </p>
      </div>
    <img class="image" alt="img-pokemon" src="https://www.nicepng.com/png/full/62-622961_no-one-knows-if-people-eat-pokmon-png.png">
  </div>
  </div>
